.container{
    margin: 70px auto auto 20px;
}

.back{
    margin-left: 30px;
    background: #8867ca;
    font-size: x-large;
    color: black;
    cursor: pointer;
}


.containerOption{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.containerOption select{
    cursor: pointer;
    padding: 2px;
    border-radius: 100px;
    border:2px solid rgba(0,0,0,0.2);
    transition: all 0.25s ease;
    background: #f0f0f0;
    font-size: medium;
}

.containerOption select:hover{
    background: #e2d0f3;
}

.container h1{
    text-align: center;
    margin: 70px;
}