.detailConteiner{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
/*     background-image: url("https://w.forfun.com/fetch/03/03fdb791c0c8753db54348da091ba79b.jpeg");
    background-position: center;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}


.detail{
    border: 2px solid rgb(117, 90, 90);
    border-radius: 15px;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    color: white;
    padding: 20px;
}

.detail img{
    border-radius: 50%;
}