.detailConteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}


.detail{
    border: 2px solid rgb(117, 90, 90);
    border-radius: 15px;
    background-color: #f3ccffaa;
    backdrop-filter: blur(10px);
    color: white;
    padding: 20px;
}

.headCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
/*   gap: 50px; */
}
.headCard h2{
  color: black;
}

.detail img{
    border-radius: 50%;
}