.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerDetail{
    border: 2px solid rgb(117, 90, 90);
    border-radius: 5%;
    background-color: #f3ccffaa;
    backdrop-filter: blur(10px);
    padding: 5px;
}

.containerHead{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.containerText{
/*     text-align: left; */
    text-align: center;
}

.image{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.image img{
    border-radius: 10%;
    border: 1px solid black;
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

.image h2{
    transform: translateY(-30px);
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    font-size: xx-large;
    text-shadow: 5px 5px 5px rgba(165,85,236,1);
}

.id{
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}
