.container{
    display: flex;
    justify-content: space-between;
    background-color: #f3ccff66;
    width: 550px;
    border: 1px solid black;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px 0px rgb(255, 0, 255);

}

.imgButton{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.imgButton img{
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgb(255, 255, 255);
    transform: translateX(-10px);
}

.imgButton button{
    width: 30px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info h2{
    color: black;
}

.heartId{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heart{
    cursor: pointer;
    font-size: x-large;
    background-color: transparent;
    border: none;
    transition: 0.4s;
    margin: 3px;
}

.heart:active {
    transform: scale(1.2);
}

.close{
    cursor: pointer;
    font-size: x-large;
    background-color: transparent;
    border: none;
    transition: 0.4s;
    margin: 3px;
}

.close:hover{
    transition: 0.5s;
    transform: scale(0.8);
}