.container{
    display: flex;
    justify-content: space-between;
/*     background-image: url("https://previews.123rf.com/images/jozefdoma/jozefdoma1210/jozefdoma121000009/15686633-fondo-que-muestra-hacia-arriba-espirales-verdes-que-se%C3%B1alan.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
/*     background: rgba(245, 222, 179, 0.492); */
background-color: #f3ccff66;
    width: 550px;
/*     height: 300px; */
    border: 1px solid black;
    border-radius: 20px;
/*     background-color: rgba(5, 82, 6, 0.406); */
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px 0px rgb(255, 0, 255);

}

.imgButton{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.imgButton img{
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgb(255, 255, 255);
    transform: translateX(-10px);
/*     transform: translate(-2.1rem, -2ex); */
}

.imgButton button{
    width: 30px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info h2{
    color: black;
}

.heartId{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heart{
    cursor: pointer;
    font-size: x-large;
    background-color: transparent;
    border: none;
    transition: 0.4s;
    margin: 3px;
}

.heart:active {
    transform: scale(1.2);
}

.close{
    cursor: pointer;
    font-size: x-large;
    background-color: transparent;
    border: none;
    transition: 0.4s;
    margin: 3px;
}