.container{
    display: flex;
    gap: 20px;
}

.containerInput{
    margin-top: 5px;
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.containerInput input:focus{
    background: #ffffff;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
}

.boton{
    margin-top: 5px;
    background-color: #D09CFA;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0px 1px 6px 0px rgb(158, 129, 254);
    cursor: pointer;
}

.boton:active{
    transform: translateY(2px);
    transition: 200ms;
    border-bottom: 2px solid rgb(50, 50, 50);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
}

