/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(150px);
}

.card{
    position: relative;
    border-radius: 10px;
    width: 420px;
    height: 500px;
    background-color: beige;
    box-shadow: 1px 1px 12px #000;
    display: flex;
    justify-content: center;
    color: black;
}

.cardContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(111, 111, 116);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1.5s;
    transform-origin: 0;
    box-shadow: 1px 1px 12px #000;
}
.card:hover .cardContainer{
    transition: all 1.5s;
    transform: rotateY(-90deg);
}

.image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
} */


.containerCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.back{
    background: #8867ca;
    padding: 5px;
    margin: 50px auto auto 50px;
    cursor: pointer;
    border-radius: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    background: #9792a23c;
    padding: 30px 30px 0px 30px;
    backdrop-filter: blur(5px);
}

.image{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.arrow{
    background: none;
    cursor: pointer;
/*     transition: all 22s; */
}


.infoCard{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 400px;
    font-size: large;
    color: rgba(255, 255, 255, 0.71);
    line-height: 30px;
}

.redes{
    text-align: center;
    padding: 20px;
}
.redes a{
    margin: 10px;
    text-decoration: none;
    color: white;
}