.nav{
    /* background-color: #aa94b5c9; */
    background-color: #a1aabf53;
    padding: 15px 20px;
    margin: 40px;
    border-radius: 5px;
    border: 1px s black;
    /* box-shadow: 3px -1px 100px 4px rgba(135, 135, 135, 0.99); */
    box-shadow: 3px -1px 100px 4px rgba(26, 26, 26, 0.99);
    display: flex;
    justify-content: space-around;
    transition: 1s ease all;
}

.navSearch{
    display: flex;
    gap: 20px;
}
.search{
    display: flex;
    gap: 20px;
}

.inputContainer{
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.inputContainer input{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 20px;
}

.button{
    cursor: pointer;
    font-size: 15px;
    align-items: center;
    padding: 5px 15px;
    border-radius: 0.7rem;
    background-color: rgb(199, 156, 242);
    border: 2px solid rgb(50, 50, 50);
    border-bottom: 5px solid rgb(50, 50, 50);
    box-shadow: 0px 1px 6px 0px rgb(158, 129, 254);
    /* transform: translate(0, -3px); */
    transition: 0.2s;
    transition-timing-function: linear;
}

.button:active {
    transform: translate(0, 0);
    border-bottom: 2px solid rgb(50, 50, 50);
}

.link{
    display: flex;
    gap: 10rem;
    justify-content: flex-start;
}


.botonAbout{
    margin-top: 5px;
    background-color: #e2d0f3;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0px 1px 6px 0px rgb(158, 129, 254);
    cursor: pointer;
}
.botonAbout:active{
    transform: translateY(2px);
    transition: 200ms;
    border-bottom: 2px solid rgb(50, 50, 50);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
}

.botonHome{
    margin-top: 5px;
    background-color: #e2d0f3;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0px 1px 6px 0px rgb(158, 129, 254);
    cursor: pointer;
}

.botonHome:active{
    transform: translateY(2px);
    transition: 200ms;
    border-bottom: 2px solid rgb(50, 50, 50);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
}